/* Universal Style of the body of the Page */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* Style of the page Body */
body{
    font-family: serif;
    font-size: 20px;
    background-color: hwb(186 50% 38%);
}
/* Styling of App Name */
h1{
    text-align: center;
}
/* Styling of the box container */
.m-container{
    position: relative;
    
}
/* Styling of the App Container */
.container{
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    height: 400px;
    width: 950px;
    border: solid;
    border-radius: 10px;
    padding: 20px;
    margin-left: 150px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
/* Styling of the form Input section */
.card-a{
    display: grid;
    grid-template-rows: auto;
}
/* Styling of the Calculation Section of the App */
.card-b{
    background-color: #05595B;
    height: 350px;
    width: 450px;
    padding: 40px 50px 40px 50px;
    border: solid;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 80px 50px;
    justify-content: space-between;
}
.case-b{

    margin-bottom: 50px;
    display: grid;
    gap: 10px;
    grid-template-columns: 110px 110px 110px;
    grid-template-rows: repeat(2,1fr);
    
}

/* Styling of the Percentage Button to hover when clicked on */
#btn:active {
    background-color: hsl(172, 67%, 45%);;
    transform: translateY(4px);
}

#btn{
    height: 30px;
    width: 110px;
    background-color: #05595B
}
